{% extends "base.html" %}

{% block content %}
<div id="cabecera">
		<h1>{{ zona }} {{ actuador }}</h1>
		
</div>
{% if arduinoActual.persianas %}
<form id="bajar" action="/actuador/" method="post">
		<div>
			
			<input type="hidden" name="accion" value="bajar" />
			<input type="hidden" name="zona" value="{{zona.nombre}}" />
			<input type="hidden" name="mota" value="{{mota.nombre}}" />
			<input type="hidden" name="actuador" value="Persianas" />
			<input type="submit" value="bajar"/>
			<br />
				
		</div>
		
</form>
{% else %}
<form id="subir" action="/actuador/" method="post">
		<div>
			
			<input type="hidden" name="accion" value="subir" />
			<input type="hidden" name="zona" value="{{zona.nombre}}" />
			<input type="hidden" name="mota" value="{{mota.nombre}}" />
			<input type="hidden" name="actuador" value="Persianas" />
			<input type="submit" value="subir"/>
			<br />
				
		</div>
</form>
{% endif %}
<br />
<input type="button" id="atras" name="atras" value=" Atrás " onclick="javascript:history.back();" />
{% endblock %}